.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.cardStyle {
    max-width: 230px;
    margin : 15px;
    border: 2px solid grey;
    border-radius: 5px;
}