.col img{
    max-width: 100%;
    height: auto;
}

.btn-div{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.btn-primary{
    margin-right: 10%;
}

.col{
    padding: 20px;
}

h4, h2{
    margin-top: 10px;
    margin-bottom: 10px;
}